.md-header--shadow,
.md-tabs {
  backdrop-filter: blur(10px);
  background-color: rgba(46,55,83);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
}

.md-header {
  backdrop-filter: blur(10px);
  background-color: rgba(46,55,83);
}

.md-header__source {
  padding-top: 5px;
  padding-bottom: 5px;
}

.md-typeset .grid.cards > ol > li,
.md-typeset .grid.cards > ul > li,
.md-typeset .grid > .card {
  border: none;
  background-color: #fff;
  border-radius: 24px;
  padding: 30px;
  box-shadow: none!important;
}

header > nav > div.md-search  {
  & form{
    border-radius: 99999px;
  }

  .md-search__output {
    border-radius: 0 0 20px 20px;
  }
}

.md-header,
.md-header--shadow {
backdrop-filter: none;
}


@media screen {
  [data-md-color-scheme=default] {
    --md-default-bg-color: #1d2f5255;
  }

  [data-md-color-scheme=slate] {
    --md-default-bg-color: #252c42a7;
  }

  [data-md-color-scheme=slate] .md-typeset .grid.cards > ol > li,
  [data-md-color-scheme=slate] .md-typeset .grid.cards > ul > li,
  [data-md-color-scheme=slate] .md-typeset .grid > .card {
    background-color: #2E3753;
  }

  [data-md-color-scheme=slate] .md-typeset blockquote {
    background-color: #00000066;
  }
}
